.row_ {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.heading {
    width: 100%;
    overflow: hidden;
}

.txt_ {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.81px;
    text-align: left;
    color: #FFFFFF
}

.htxt_ {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #F0AB00;
    margin-right: 8px;
    z-index: 1;
}

.line_ {
    width: 100%;
    height: 0px;
    border: 1px solid #333333;
}

.lg_ {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    background: #181818;
    margin-right: 10px;
    border-radius: 3px;
    color: white;
    height: 26px;
    padding: 0px 6px 0px 6px;
    gap: 10px;
    border: 0.5px solid #262626;
    font-family: Manrope;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}